In [2]:
import pandas as pd
import time
import ast
df = pd.read_csv("data/all_prem_ready.csv")
df.head()

,match_id,gameweek,season,kickoff_time,hName,hScore,aScore,aName,outcome,home_lineup,home_bench,away_lineup,away_bench,goals,subs,cards,phases,pen_misses,checks
0,5573,1,06/07,19-08-2006 12:45,Sheffield United,1,1,Liverpool,D,"[{'pos': 'M', 'id': 3222}, {'pos': 'D', 'id': ...","[{'pos': 'M', 'id': 329}, {'pos': 'D', 'id': 2...","[{'pos': 'D', 'id': 3126}, {'pos': 'D', 'id': ...","[{'pos': 'F', 'id': 1629}, {'pos': 'D', 'id': ...","[{'time': ""46'00"", 'type': 'Goal', 'scorer_id'...","[{'time': ""26'00"", 'type': 'Sub', 'desc': 'ON'...","[{'time': ""37'00"", 'type': 'Yellow Card', 'pla...","[{'time': ""00'00"", 'type': 'Half Start'}, {'ti...",[],NaN
1,5567,1,06/07,19-08-2006 15:00,Arsenal,1,1,Aston Villa,D,"[{'pos': 'D', 'id': 2609}, {'pos': 'M', 'id': ...","[{'pos': 'D', 'id': 2162}, {'pos': 'F', 'id': ...","[{'pos': 'D', 'id': 2013}, {'pos': 'D', 'id': ...","[{'pos': 'G', 'id': 1295}, {'pos': 'D', 'id': ...","[{'time': ""53'00"", 'type': 'Goal', 'scorer_id'...","[{'time': ""65'00"", 'type': 'Sub', 'desc': 'ON'...","[{'time': ""70'00"", 'type': 'Yellow Card', 'pla...","[{'time': ""00'00"", 'type': 'Half Start'}, {'ti...",[],NaN
2,5569,1,06/07,19-08-2006 15:00,Everton,2,1,Watford,H,"[{'pos': 'M', 'id': 2705}, {'pos': 'D', 'id': ...","[{'pos': 'D', 'id': 2574}, {'pos': 'F', 'id': ...","[{'pos': 'D', 'id': 1849}, {'pos': 'M', 'id': ...","[{'pos': 'M', 'id': 2263}, {'pos': 'D', 'id': ...","[{'time': ""15'00"", 'type': 'Goal', 'scorer_id'...","[{'time': ""45'00"", 'type': 'Sub', 'desc': 'ON'...","[{'time': ""35'00"", 'type': 'Yellow Card', 'pla...","[{'time': ""00'00"", 'type': 'Half Start'}, {'ti...",[],NaN
3,5570,1,06/07,19-08-2006 15:00,Newcastle United,2,1,Wigan Athletic,H,"[{'pos': 'G', 'id': 851}, {'pos': 'D', 'id': 1...","[{'pos': 'G', 'id': 709}, {'pos': 'M', 'id': 2...","[{'pos': 'G', 'id': 1359}, {'pos': 'D', 'id': ...","[{'pos': 'D', 'id': 3025}, {'pos': 'G', 'id': ...","[{'time': ""38'00"", 'type': 'Goal', 'scorer_id'...","[{'time': ""16'00"", 'type': 'Sub', 'desc': 'ON'...","[{'time': ""09'00"", 'type': 'Yellow Card', 'pla...","[{'time': ""00'00"", 'type': 'Half Start'}, {'ti...",[],NaN
4,5571,1,06/07,19-08-2006 15:00,Portsmouth,3,0,Blackburn Rovers,H,"[{'pos': 'M', 'id': 2550}, {'pos': 'G', 'id': ...","[{'pos': 'G', 'id': 3178}, {'pos': 'M', 'id': ...","[{'pos': 'D', 'id': 356}, {'pos': 'D', 'id': 1...","[{'pos': 'F', 'id': 1402}, {'pos': 'G', 'id': ...","[{'time': ""26'00"", 'type': 'Goal', 'scorer_id'...","[{'time': ""60'00"", 'type': 'Sub', 'desc': 'ON'...","[{'time': ""11'00"", 'type': 'Yellow Card', 'pla...","[{'time': ""00'00"", 'type': 'Half Start'}, {'ti...","[{'time': ""90 +2'00"", 'type': 'Pen Saved', 'pl...",NaN

In [18]:
%run convert-one-row-into-fpl-data.ipynb
t1 = time.time()
first_row = df.iloc[0]
fpl_df = convert_row_to_fpl_data(first_row)

for i in range(1,len(df)):
    row_data = df.iloc[i]
    new_fpl_df = convert_row_to_fpl_data(row_data)
    fpl_df = pd.concat([fpl_df,new_fpl_df],axis=0)
    if i%1000 == 0:
        print(i)

t2 = time.time()
fpl_df.to_csv("data/all_fpl_data.csv")
print("All work took {} seconds".format(round(t2-t1,2)))

1000
2000
3000
4000
5000
All work took 292.87 seconds