In [8]:
import pandas as pd
import time
import ast
df = pd.read_csv("data/all_prem_ready.csv")
df.head()

,match_id,gameweek,season,kickoff_time,hName,hScore,aScore,aName,outcome,home_lineup,home_bench,away_lineup,away_bench,goals,subs,cards,phases,pen_misses,checks
0,5573,1,06/07,19-08-2006 12:45,Sheffield United,1,1,Liverpool,D,"[{'pos': 'M', 'id': 3222}, {'pos': 'D', 'id': ...","[{'pos': 'M', 'id': 329}, {'pos': 'D', 'id': 2...","[{'pos': 'D', 'id': 3126}, {'pos': 'D', 'id': ...","[{'pos': 'F', 'id': 1629}, {'pos': 'D', 'id': ...","[{'time': ""46'00"", 'type': 'Goal', 'scorer_id'...","[{'time': ""26'00"", 'type': 'Sub', 'desc': 'ON'...","[{'time': ""37'00"", 'type': 'Yellow Card', 'pla...","[{'time': ""00'00"", 'type': 'Half Start'}, {'ti...",[],NaN
1,5567,1,06/07,19-08-2006 15:00,Arsenal,1,1,Aston Villa,D,"[{'pos': 'D', 'id': 2609}, {'pos': 'M', 'id': ...","[{'pos': 'D', 'id': 2162}, {'pos': 'F', 'id': ...","[{'pos': 'D', 'id': 2013}, {'pos': 'D', 'id': ...","[{'pos': 'G', 'id': 1295}, {'pos': 'D', 'id': ...","[{'time': ""53'00"", 'type': 'Goal', 'scorer_id'...","[{'time': ""65'00"", 'type': 'Sub', 'desc': 'ON'...","[{'time': ""70'00"", 'type': 'Yellow Card', 'pla...","[{'time': ""00'00"", 'type': 'Half Start'}, {'ti...",[],NaN
2,5569,1,06/07,19-08-2006 15:00,Everton,2,1,Watford,H,"[{'pos': 'M', 'id': 2705}, {'pos': 'D', 'id': ...","[{'pos': 'D', 'id': 2574}, {'pos': 'F', 'id': ...","[{'pos': 'D', 'id': 1849}, {'pos': 'M', 'id': ...","[{'pos': 'M', 'id': 2263}, {'pos': 'D', 'id': ...","[{'time': ""15'00"", 'type': 'Goal', 'scorer_id'...","[{'time': ""45'00"", 'type': 'Sub', 'desc': 'ON'...","[{'time': ""35'00"", 'type': 'Yellow Card', 'pla...","[{'time': ""00'00"", 'type': 'Half Start'}, {'ti...",[],NaN
3,5570,1,06/07,19-08-2006 15:00,Newcastle United,2,1,Wigan Athletic,H,"[{'pos': 'G', 'id': 851}, {'pos': 'D', 'id': 1...","[{'pos': 'G', 'id': 709}, {'pos': 'M', 'id': 2...","[{'pos': 'G', 'id': 1359}, {'pos': 'D', 'id': ...","[{'pos': 'D', 'id': 3025}, {'pos': 'G', 'id': ...","[{'time': ""38'00"", 'type': 'Goal', 'scorer_id'...","[{'time': ""16'00"", 'type': 'Sub', 'desc': 'ON'...","[{'time': ""09'00"", 'type': 'Yellow Card', 'pla...","[{'time': ""00'00"", 'type': 'Half Start'}, {'ti...",[],NaN
4,5571,1,06/07,19-08-2006 15:00,Portsmouth,3,0,Blackburn Rovers,H,"[{'pos': 'M', 'id': 2550}, {'pos': 'G', 'id': ...","[{'pos': 'G', 'id': 3178}, {'pos': 'M', 'id': ...","[{'pos': 'D', 'id': 356}, {'pos': 'D', 'id': 1...","[{'pos': 'F', 'id': 1402}, {'pos': 'G', 'id': ...","[{'time': ""26'00"", 'type': 'Goal', 'scorer_id'...","[{'time': ""60'00"", 'type': 'Sub', 'desc': 'ON'...","[{'time': ""11'00"", 'type': 'Yellow Card', 'pla...","[{'time': ""00'00"", 'type': 'Half Start'}, {'ti...","[{'time': ""90 +2'00"", 'type': 'Pen Saved', 'pl...",NaN

In [9]:
first_row = df.iloc[0]
first_row

match_id                                                     5573
gameweek                                                        1
season                                                      06/07
kickoff_time                                     19-08-2006 12:45
hName                                            Sheffield United
hScore                                                          1
aScore                                                          1
aName                                                   Liverpool
outcome                                                         D
home_lineup     [{'pos': 'M', 'id': 3222}, {'pos': 'D', 'id': ...
home_bench      [{'pos': 'M', 'id': 329}, {'pos': 'D', 'id': 2...
away_lineup     [{'pos': 'D', 'id': 3126}, {'pos': 'D', 'id': ...
away_bench      [{'pos': 'F', 'id': 1629}, {'pos': 'D', 'id': ...
goals           [{'time': "46'00", 'type': 'Goal', 'scorer_id'...
subs            [{'time': "26'00", 'type': 'Sub', 'desc': 'ON'...
cards           [{'time': "37'00", 'type': 'Yellow Card', 'pla...
phases          [{'time': "00'00", 'type': 'Half Start'}, {'ti...
pen_misses                                                     []
checks                                                        NaN
Name: 0, dtype: object

In [25]:
%run convert-one-row-into-fpl-data.ipynb
t1 = time.time()
first_row_df = convert_row_to_fpl_data(first_row)
t2 = time.time()
print("Took {} seconds".format(round(t2-t1,4)))
first_row_df.head(15)

Took 0.003 seconds

,match_id,season,gameweek,team,side,player_id,pos,mins,goals,assists,clean_sheet,shot_saves,pen_saves,pen_misses,goals_conceded,yellow_cards,red_cards,own_goals
0,5573,06/07,1,H,Sheffield United,3222,M,90,0,0,False,0,0,0,1,0,0,0
1,5573,06/07,1,H,Sheffield United,3215,D,90,0,0,False,0,0,0,1,0,0,0
2,5573,06/07,1,H,Sheffield United,3213,D,90,0,0,False,0,0,0,1,0,0,0
3,5573,06/07,1,H,Sheffield United,2830,F,87,1,0,False,0,0,0,1,0,0,0
4,5573,06/07,1,H,Sheffield United,1725,F,90,0,0,False,0,0,0,1,0,0,0
5,5573,06/07,1,H,Sheffield United,3223,M,90,0,0,False,0,0,0,1,0,0,0
6,5573,06/07,1,H,Sheffield United,1313,D,90,0,0,False,0,0,0,1,1,0,0
7,5573,06/07,1,H,Sheffield United,1613,D,75,0,0,False,0,0,0,1,0,0,0
8,5573,06/07,1,H,Sheffield United,3210,G,90,0,0,False,0,0,0,1,0,0,0
9,5573,06/07,1,H,Sheffield United,181,D,90,0,1,False,0,0,0,1,0,0,0
10,5573,06/07,1,H,Sheffield United,3302,M,60,0,0,False,0,0,0,1,0,0,0
11,5573,06/07,1,H,Sheffield United,329,M,30,0,0,False,0,0,0,1,0,0,0
12,5573,06/07,1,H,Sheffield United,734,F,3,0,0,False,0,0,0,1,0,0,0
13,5573,06/07,1,H,Sheffield United,2668,M,15,0,0,False,0,0,0,1,0,0,0
14,5573,06/07,1,A,Liverpool,3126,D,90,0,0,False,0,0,0,1,0,0,0